<header class="header">
    <nav class="navbar navbar-expand-lg ">
        <div class="container">
            <a class="navbar-brand" href="/admin"><img src="/images/logo.jpg" alt="Admin Logo"></a>
            <h2 class="admin-header">ADMIN</h2>
        </div>
    </nav>
</header>     