<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-3">
                <img src="/images/logo.jpg" alt="Company Logo" class="footer-logo">
                <p>Your trusted destination for premium, high-quality food.</p>
            </div>

            <div class="col-md-3 col-3">
                <h4>Categories</h4>
                <ul class="footer-links">
                    <li><a href="sub-head">Spices Powders</a></li>
                    <li><a href="#">Coconut Oil</a></li>
                    <li><a href="#">Ghee</a></li> 
                </ul>
            </div>

            <div class="col-md-3 col-3"> 
                <h4>Help</h4>
                <ul class="footer-links">
                    <li><a class="Categorie" href="#">Contact Us</a></li>
                    <li><a class="Categorie" href="#">About Us</a></li>
                    <li><a class="Categorie" href="#">Terms & Conditions</a></li>
                </ul>
            </div> 

            <div class="col-md-3 col-3">
                <h4>Follow Us</h4>
                <div class="footer-social">
                    <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                </div> 
            </div>
        </div>

        <div class="footer-bottom">
            <p>&copy; 2025 Your Company. All Rights Reserved.</p>
        </div>
    </div>
</footer>